@use "../../styles/variables" as *;

.notification {
  position: absolute;
  top: 24px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
  color: $white;
  font-weight: 800;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 7px 7px 15px -10px rgb(37 38 49 / 31%);
  text-transform: capitalize;

  &.info {
    background-color: $plain-blue;
  }

  &.error {
    background-color: $plain-red;
  }

  .notification-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .notification-icon {
      width: 16px;
      margin-right: 12px;
    }
  }

  .close-icon {
    width: 12px;
    cursor: pointer;
  }
}
