@use "../../../styles/variables" as *;

.air-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 32px;
    font-weight: 800;
    margin: 12px 0;
  }
}

.air-data {
  width: 70px;
  height: 80px;
  position: relative;
  color: $blue;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: $light-orange;
  transition: 0.4s;

  &:hover {
    transform: scale(1.1);
  }

  span {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 6px;
    width: fit-content;
  }

  h4 {
    font-weight: 800;
    font-size: 14px;
  }

  p {
    font-weight: 600;
    font-size: 14px;
  }
}

.flex-wrap {
  max-width: 370px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* MOBILE */
@media only screen and (max-width: 430px) {
  .flex-wrap {
    justify-content: center;
  }
}
