@use "../../styles/_variables.scss" as *;

.main-container {
  color: $blue;
  position: relative;
}

.title {
  padding-bottom: 12px;
  padding-left: 16px;
  color: orange;

  h2 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 18px;
}

.detail-content {
  padding: 12px 24px;
}

.main-content {
  padding: 24px 12px;
  background-color: $light-gray;
}

.widget {
  border-radius: 6px;
  box-shadow: $box-shadow;
  margin-bottom: 12px;
  padding: 16px;
  width: 100%;
  height: auto;
}

.widget-title {
  margin-bottom: 12px;
  margin-left: 16px;
}

/* TABLET */
@media (min-width: 768px) {
  .main-title {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: orange;
  }

  .title h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .title p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .main-content {
    padding: 24px;
  }

  .detail-content,
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .detail-content {
    align-items: center;
  }

  .flex-wrapper {
    align-items: flex-start;
  }

  .widget {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  .main-title {
    margin-bottom: 12px;
  }

  .main-wrapper {
    height: 100vh;
    flex-direction: row;
    min-height: 750px;
  }

  .main-content {
    width: 70%;
  }

  .detail-content {
    width: 30%;
    padding-top: 24px;
    flex-direction: column;
  }
}
